@model IEnumerable<OrderManagementSystem.Entity.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

@section styles
{
    <link href="~/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
}

<h3>Employee List</h3>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Employee</a>
</p>
<table class="table" id="EmployeeTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(models => models.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
                       
           @*  <th>
                @Html.DisplayNameFor(model => model.TitleofCourtesy)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.HouseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCode)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.CountryID)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th> 
             <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportsTo)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.TitleofCourtesy)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.HouseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.CountryID)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportsTo)
            </td>  *@
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody> 
</table>

@section scripts
{
    <script src="~/datatables/js/datatables.datatables.min.js"></script>
    <script src="~/datatables/js/jquery.datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#EmployeeTable').DataTable();
        });

    </script>

}
